$color: (
  white-color: #ffffff,
  bg-color: #32425b,
  text-form-color: #999,
  text-ip-color: #ccd2d6,
  border-ip-color: #5d6f87,
  line-color: #d4d4d4,
  btn-color: #1fd6ba,
  error-color: #ff5f5f
);
$col-max: 12;
$breakpoint: (
  sm: 576px,
  md: 768px,
  lg: 1024px, 
)
